<a href="https://colab.research.google.com/github/SupunGurusinghe/sqlite-plus-colab/blob/main/sg_project1_wrong_mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **What is Data Mapping?**

> Data mapping is crucial to the success of many data processes. One misstep in data mapping can ripple throughout your organization, leading to replicated errors, and ultimately, to inaccurate analysis.

> Nearly every enterprise will, at some point, move data between systems. And different systems store similar data in different ways. So to move and consolidate data for analysis or other tasks, a roadmap is needed to ensure the data gets to its destination accurately.

> For processes like data integration, data migration, data warehouse automation, data synchronization, automated data extraction, or other data management projects, quality in data mapping will determine the quality of the data to be analyzed for insights.

Ref: https://www.talend.com/resources/data-mapping/


> The quality in mapping applications depends on the
quality of stored data. In mapping applications, the
data quality has a great influence over the results.
The data are used without considering the contained
errors, and this can lead to erroneous results,
disorienting information and bad decisions that can
produce high costs to the user. Any difference
between the real world and the dataset is considered
an error

Ref: https://www.researchgate.net/publication/279274566_Mapping_Data_-_Quality_Quantity_Or_Both

Here we are basically focusing on data loaded to correct columns accurately.

### **Load data**

In [18]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/SupunGurusinghe/sqlite-plus-colab/main/superstore_data.csv"
superstore_df1 = pd.read_csv(url1 ,encoding='windows-1252')

url2 = "https://raw.githubusercontent.com/SupunGurusinghe/sqlite-plus-colab/main/superstore.csv"
superstore_df2 = pd.read_csv(url2 ,encoding='windows-1252')

### **Background**

> **Scenario:** There are database tables `storefront1` & `storefront2` to store supermarket data. 
---
**Output:** All the set of rows of table

#### **Source Table**

In [19]:
import sqlite3

conn = sqlite3.connect('test_database')
c = conn.cursor()

# dropping an existing table
c.execute("DROP TABLE IF EXISTS storefront1")

c.execute('''CREATE TABLE storefront1 (
  RowID INT, 
  OrderID VARCHAR(30),
  OrderDate VARCHAR(12),
  ShipDate VARCHAR(12),
  ShipMode VARCHAR(15),
  CustomerID VARCHAR(20),
  CustomerName VARCHAR(50),
  Segment VARCHAR(20),
  Country VARCHAR(20),
  City VARCHAR(20),
  State VARCHAR(20),
  PostalCode VARCHAR(15),
  Region VARCHAR(20),
  ProductID VARCHAR(30),
  Category VARCHAR(20),
  SubCategory VARCHAR(20),
  ProductName VARCHAR(20),
  Sales DOUBLE,
  Quantity INT,
  Discount DOUBLE,
  Profit DOUBLE)
''')

conn.commit()

superstore_df1.to_sql('storefront1', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM storefront1
          ''')

results = c.fetchall()
c.close()

df1 = pd.DataFrame(results, columns= ['RowID', 'OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'CustomerName', 'Segment', 'Country', 'City', 'State', 'PostalCode', 'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName', 'Sales', 'Quantity', 'Discount', 'Profit'])
df1.head()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,None,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Suplease,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

#### **Target Table**

In [20]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

# dropping an existing table
c.execute("DROP TABLE IF EXISTS storefront2")

c.execute('''CREATE TABLE storefront2 (
  RowID INT, 
  OrderID VARCHAR(30),
  OrderDate VARCHAR(12),
  ShipDate VARCHAR(12),
  ShipMode VARCHAR(15),
  CustomerID VARCHAR(20),
  CustomerName VARCHAR(50),
  Segment VARCHAR(20),
  Country VARCHAR(20),
  City VARCHAR(20),
  State VARCHAR(20),
  PostalCode VARCHAR(15),
  Region VARCHAR(20),
  ProductID VARCHAR(30),
  Category VARCHAR(20),
  SubCategory VARCHAR(20),
  ProductName VARCHAR(20),
  Sales DOUBLE,
  Quantity INT,
  Discount DOUBLE,
  Profit DOUBLE)
''')

conn.commit()

superstore_df2.to_sql('storefront2', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM storefront2
          ''')

results = c.fetchall()
c.close()

df2 = pd.DataFrame(results, columns= ['RowID', 'OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'CustomerName', 'Segment', 'Country', 'City', 'State', 'PostalCode', 'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName', 'Sales', 'Quantity', 'Discount', 'Profit'])
df2.head()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

**Table to DataFrame**

In [13]:
def create_df(table_name):
  """
    Convert all values of a table in to a dataframe

    Parameters
    ----------
    table_name : str
        Table name to be considered

    Variables
    ----------
    names: list of tuples
        All the column names of {table_name}
    result_list: list
        List of column names of {table_name}
    df: dataframe
        All the rows and columns of {table_name}

    Returns
    -------
    df: dataframe
        All the rows and columns of {table_n}
  """
  c = conn.cursor()
  # create dataframe from a table
  c.execute("SELECT name FROM pragma_table_info(?) ORDER BY cid", [table_name])
  names = c.fetchall()

  result_list = []
  for name in names:
    result_list.append(name[0])

  c.execute(f'SELECT * FROM {table_name}')
  results = c.fetchall()

  df = pd.DataFrame(results, columns= result_list)
  c.close()
  return df

**Simplest way of checking the mapping of data is obtaining table information**

For that; we can use the inbuild function with the following syntax 
> PRAGMA table_info(table_name);

In [10]:
def table_info_compare(table1, table2):
  """
    Columns in the result set include the column name, data type, whether or 
    not the column can be NULL, and the default value for the column. 
    The "pk" column in the result set is zero for columns that are not part of 
    the primary key, and is the index of the column in the primary key for 
    columns that are part of the primary key.

    Parameters
    ------------
    table1: str
      Name of source table
    table2: str
      Name of target table

    Returns
    ------------
    None
  """
  c = conn.cursor()

  c.execute('SELECT * FROM pragma_table_info(?) ORDER BY cid', [table1])
  print('Source Table Information\n')
  for result in c.fetchall():
    print(result)

  c.execute('SELECT * FROM pragma_table_info(?) ORDER BY cid', [table2])
  print('\nTarget Table Information\n')
  for result in c.fetchall():
    print(result)

  c.close()

table_info_compare('storefront1', 'storefront2')

Source Table Information

(0, 'RowID', 'INTEGER', 0, None, 0)
(1, 'OrderID', 'TEXT', 0, None, 0)
(2, 'OrderDate', 'TEXT', 0, None, 0)
(3, 'ShipDate', 'TEXT', 0, None, 0)
(4, 'ShipMode', 'TEXT', 0, None, 0)
(5, 'CustomerID', 'TEXT', 0, None, 0)
(6, 'CustomerName', 'TEXT', 0, None, 0)
(7, 'Segment', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'City', 'TEXT', 0, None, 0)
(10, 'State', 'TEXT', 0, None, 0)
(11, 'PostalCode', 'INTEGER', 0, None, 0)
(12, 'Region', 'TEXT', 0, None, 0)
(13, 'ProductID', 'TEXT', 0, None, 0)
(14, 'Category', 'TEXT', 0, None, 0)
(15, 'SubCategory', 'TEXT', 0, None, 0)
(16, 'ProductName', 'TEXT', 0, None, 0)
(17, 'Sales', 'REAL', 0, None, 0)
(18, 'Quantity', 'INTEGER', 0, None, 0)
(19, 'Discount', 'REAL', 0, None, 0)
(20, 'Profit', 'REAL', 0, None, 0)

Target Table Information

(0, 'Row ID', 'INTEGER', 0, None, 0)
(1, 'Order ID', 'TEXT', 0, None, 0)
(2, 'Order Date', 'TEXT', 0, None, 0)
(3, 'Ship Date', 'TEXT', 0, None, 0)
(4, 'Ship Mode', 'TEXT', 0, None, 0)
(5, 'Customer ID', 'TEXT', 0, None, 0)
(6, 'Customer Name', 'TEXT', 0, None, 0)
(7, 'Segment', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'City', 'TEXT', 0, None, 0)
(10, 'State', 'TEXT', 0, None, 0)
(11, 'Postal Code', 'INTEGER', 0, None, 0)
(12, 'Region', 'TEXT', 0, None, 0)
(13, 'Product ID', 'TEXT', 0, None, 0)
(14, 'Category', 'TEXT', 0, None, 0)
(15, 'Sub-Category', 'TEXT', 0, None, 0)
(16, 'Product Name', 'TEXT', 0, None, 0)
(17, 'Sales', 'REAL', 0, None, 0)
(18, 'Quantity', 'INTEGER', 0, None, 0)
(19, 'Discount', 'REAL', 0, None, 0)
(20, 'Profit', 'REAL', 0, None, 0)

### **Comparison of Two Data Sets using Python**

> In here, we will be exploring how to compare two large files/datasets efficiently while creating meaningful summery using Python Library “datacompy”.

Ref: https://medium.com/analytics-vidhya/comparison-of-two-data-sets-using-python-a24a6d8beb13

`datacompy` : is a package to compare two DataFrames. Originally started as a replacement for SAS’s PROC COMPARE for Pandas DataFrames with some more functionality than just Pandas.DataFrame.equals(Pandas.DataFrame)

**Installing datacompy**

In [11]:
!pip install datacompy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datacompy
  Downloading datacompy-0.8.2-py3-none-any.whl (23 kB)
Requirement already satisfied: numpy<=1.23.4,>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from datacompy) (1.21.6)
Requirement already satisfied: pandas<=1.5.0,>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from datacompy) (1.3.5)
Collecting ordered-set<=4.1.0,>=4.0.2
  Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<=1.5.0,>=0.25.0->datacompy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<=1.5.0,>=0.25.0->datacompy) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<=1.5.0,>=0.25.0->datacompy) (1.15.0)
Installing collected packages: ordered-set, datacompy
Successfully installed datacompy-0.8.2 ordered-set-4.1.0

**Details :**
> datacompy takes two dataframes as input and gives us a human-readable report containing statistics that lets us know the similarities and dissimilarities between the two dataframes.

> It will try to join two dataframes either on a list of join columns, or on indexes.

> Column-wise comparisons attempt to match values even when dtypes doesn't match. So if, for example, you have a column with decimal.Decimal values in one dataframe and an identically-named column with float64 data type in another, it will tell you that the dtypes are different but will still try to compare the values.

In [25]:
import datacompy

df1 = create_df('storefront1')
df2 = create_df('storefront2')
compare = datacompy.Compare(df1, df2, join_columns='RowID', abs_tol=0.0001, rel_tol=0, df1_name='Source Table', df2_name='Target Table')

**Generate the output (in the form of report )**
> print(compare.report())

In [26]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

      DataFrame  Columns  Rows
0  Source Table       21  9994
1  Target Table       21  9994

Column Summary
--------------

Number of columns in common: 21
Number of columns in Source Table but not in Target Table: 0
Number of columns in Target Table but not in Source Table: 0

Row Summary
-----------

Matched on: rowid
Any duplicates on match values: No
Absolute Tolerance: 0.0001
Relative Tolerance: 0
Number of rows in common: 9,994
Number of rows in Source Table but not in Target Table: 0
Number of rows in Target Table but not in Source Table: 0

Number of rows with some compared columns unequal: 37
Number of rows with all compared columns equal: 9,957

Column Comparison
-----------------

Number of columns compared with some values unequal: 18
Number of columns compared with all values equal: 3
Total number of values which compare unequal: 95

Columns with Unequal Values or Types
------------------------------------

          Column Source Table dtype Target Table dtype  # Unequal    Max Diff  # Null Diff
12      category             object             object         14      0.0000            5
7           city             object             object          3      0.0000            0
4     customerid             object             object          4      0.0000            0
5   customername             object             object          8      0.0000            4
16      discount            float64            float64         18      1.6000            0
1      orderdate             object             object          4      0.0000            0
0        orderid             object             object          4      0.0000            0
9     postalcode              int64              int64          4  79092.0000            0
11     productid             object             object          4      0.0000            0
14   productname             object             object          4      0.0000            0
17        profit            float64            float64          4     77.0364            0
10        region             object             object          3      0.0000            0
15         sales            float64            float64          4    285.3200            0
6        segment             object             object          3      0.0000            0
2       shipdate             object             object          4      0.0000            0
3       shipmode             object             object          3      0.0000            0
8          state             object             object          3      0.0000            0
13   subcategory             object             object          4      0.0000            0

Sample Rows with Unequal Values
-------------------------------

      rowid orderid (Source Table) orderid (Target Table)
50       51         CA-2016-121755         CA-2015-115742
876     877         CA-2017-126074         CA-2016-116736
5220   5221         CA-2017-145653         CA-2014-140487
695     696         CA-2017-156951         CA-2015-119291

      rowid orderdate (Source Table) orderdate (Target Table)
876     877                10/2/2017                1/17/2016
50       51                1/16/2016                4/18/2015
695     696                10/1/2017                5/14/2015
5220   5221                 9/1/2017                6/14/2014

      rowid shipdate (Source Table) shipdate (Target Table)
876     877               10/6/2017               1/21/2016
5220   5221                9/1/2017               6/20/2014
695     696               10/8/2017               5/17/2015
50       51               1/20/2016               4/22/2015

      rowid shipmode (Source Table) shipmode (Target Table)
5220   5221                Same Day          Standard Class
50       51            Second Class          Standard Class
695     696          Standard Class             First Class

      rowid customerid (Source Table) customerid (Target Table)
695     696                  EB-13840                  JO-15550
5220   5221                  CA-12775                  SR-20425
876     877                  RF-19735                  CC-12430
50       51                  EH-13945                  DP-13000

      rowid customername (Source Table) customername (Target Table)
59       60                        None             Ted Butterfield
5220   5221             Cynthia Arntzen              Sharelle Roach
30       31                        None             Tracy Blumstein
50       51               Eric Hoffmann               Darren Powers
52       53                        None               Darren Powers
876     877                Roland Fjeld                 Chuck Clark
8         9                        None             Brosina Hoffman
695     696               Ellis Ballard                Jesus Ocampo

      rowid segment (Source Table) segment (Target Table)
5220   5221               Consumer            Home Office
876     877               Consumer            Home Office
695     696              Corporate            Home Office

     rowid city (Source Table) city (Target Table)
50      51         Los Angeles          New Albany
695    696             Seattle             Chester
876    877             Trenton             Concord

     rowid state (Source Table) state (Target Table)
876    877             Michigan        New Hampshire
695    696           Washington         Pennsylvania
50      51           California              Indiana

      rowid  postalcode (Source Table)  postalcode (Target Table)
695     696                      98105                      19013
5220   5221                      48205                      48234
50       51                      90049                      47150
876     877                      48183                       3301

     rowid region (Source Table) region (Target Table)
876    877               Central                  East
695    696                  West                  East
50      51                  West               Central

      rowid productid (Source Table) productid (Target Table)
50       51          TEC-AC-10003027          OFF-LA-10002762
876     877          FUR-FU-10003577          TEC-AC-10003628
5220   5221          FUR-CH-10004875          FUR-BO-10000711
695     696          OFF-PA-10004530          OFF-LA-10002312

      rowid category (Source Table) category (Target Table)
16       17                    None         Office Supplies
64       65         Office Suplease         Office Supplies
8416   8417         Office Suplease         Office Supplies
5957   5958         Office Suplease         Office Supplies
0         1                    None               Furniture
25       26         Office Suplease         Office Supplies
4         5         Office Suplease         Office Supplies
111     112                    None         Office Supplies
54       55                    None              Technology
876     877               Furniture              Technology

      rowid subcategory (Source Table) subcategory (Target Table)
876     877                Furnishings                Accessories
50       51                Accessories                     Labels
695     696                      Paper                     Labels
5220   5221                     Chairs                  Bookcases

      rowid                        productname (Source Table)                                 productname (Target Table)
695     696       Personal Creations Ink Jet Cards and Labels                                                  Avery 490
876     877                        Nu-Dell Leatherette Frames  Logitech 910-002974 M325 Wireless Mouse for Web Scrolling
50       51  Imation 8GB Mini TravelDrive USB 2.0 Flash Drive                                                  Avery 485
5220   5221    Harbour Creations 67200 Series Stacking Chairs                                  Hon Metal Bookcases, Gray

      rowid  sales (Source Table)  sales (Target Table)
5220   5221                498.26                212.94
50       51                 90.57                 75.18
876     877                157.74                 29.99
695     696                 91.84                 47.36

      rowid  discount (Source Table)  discount (Target Table)
1284   1285                     -0.8                      0.8
1972   1973                     -0.8                      0.8
1820   1821                     -0.8                      0.8
1818   1819                     -0.8                      0.8
695     696                      0.0                      0.2
2159   2160                     -0.8                      0.8
1943   1944                     -0.8                      0.8
1271   1272                     -0.8                      0.8
1173   1174                     -0.8                      0.8
1770   1771                     -0.8                      0.8

      rowid  profit (Source Table)  profit (Target Table)
5220   5221               134.5302                57.4938
876     877                56.7864                13.1956
695     696                45.0016                17.7600
50       51                11.7741                35.3346