<a href="https://colab.research.google.com/github/SupunGurusinghe/sqlite-plus-colab/blob/main/sg_project1_wrong_mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **What is Data Mapping?**

> Data mapping is crucial to the success of many data processes. One misstep in data mapping can ripple throughout your organization, leading to replicated errors, and ultimately, to inaccurate analysis.

> Nearly every enterprise will, at some point, move data between systems. And different systems store similar data in different ways. So to move and consolidate data for analysis or other tasks, a roadmap is needed to ensure the data gets to its destination accurately.

> For processes like data integration, data migration, data warehouse automation, data synchronization, automated data extraction, or other data management projects, quality in data mapping will determine the quality of the data to be analyzed for insights.

Ref: https://www.talend.com/resources/data-mapping/


> The quality in mapping applications depends on the
quality of stored data. In mapping applications, the
data quality has a great influence over the results.
The data are used without considering the contained
errors, and this can lead to erroneous results,
disorienting information and bad decisions that can
produce high costs to the user. Any difference
between the real world and the dataset is considered
an error

Ref: https://www.researchgate.net/publication/279274566_Mapping_Data_-_Quality_Quantity_Or_Both

Here we are basically focusing on data loaded to correct columns accurately.

### **Load data**

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/SupunGurusinghe/sqlite-plus-colab/main/superstore_data.csv"
superstore_df1 = pd.read_csv(url1 ,encoding='windows-1252')

url2 = "https://raw.githubusercontent.com/SupunGurusinghe/sqlite-plus-colab/main/superstore.csv"
superstore_df2 = pd.read_csv(url2 ,encoding='windows-1252')

### **Background**

> **Scenario:** There are database tables `storefront1` & `storefront2` to store supermarket data. 
---
**Output:** All the set of rows of table

#### **Source Table**

In [2]:
import sqlite3

conn = sqlite3.connect('test_database')
c = conn.cursor()

# dropping an existing table
c.execute("DROP TABLE IF EXISTS storefront1")

c.execute('''CREATE TABLE storefront1 (
  RowID INT, 
  OrderID VARCHAR(30),
  OrderDate VARCHAR(12),
  ShipDate VARCHAR(12),
  ShipMode VARCHAR(15),
  CustomerID VARCHAR(20),
  CustomerName VARCHAR(50),
  Segment VARCHAR(20),
  Country VARCHAR(20),
  City VARCHAR(20),
  State VARCHAR(20),
  PostalCode VARCHAR(15),
  Region VARCHAR(20),
  ProductID VARCHAR(30),
  Category VARCHAR(20),
  SubCategory VARCHAR(20),
  ProductName VARCHAR(20),
  Sales DOUBLE,
  Quantity INT,
  Discount DOUBLE,
  Profit DOUBLE)
''')

conn.commit()

superstore_df1.to_sql('storefront1', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM storefront1
          ''')

results = c.fetchall()
c.close()

df1 = pd.DataFrame(results, columns= ['RowID', 'OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'CustomerName', 'Segment', 'Country', 'City', 'State', 'PostalCode', 'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName', 'Sales', 'Quantity', 'Discount', 'Profit'])
df1.head()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,None,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Suplease,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

#### **Target Table**

In [3]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

# dropping an existing table
c.execute("DROP TABLE IF EXISTS storefront2")

c.execute('''CREATE TABLE storefront2 (
  RowID INT, 
  OrderID VARCHAR(30),
  OrderDate VARCHAR(12),
  ShipDate VARCHAR(12),
  ShipMode VARCHAR(15),
  CustomerID VARCHAR(20),
  CustomerName VARCHAR(50),
  Segment VARCHAR(20),
  Country VARCHAR(20),
  City VARCHAR(20),
  State VARCHAR(20),
  PostalCode VARCHAR(15),
  Region VARCHAR(20),
  ProductID VARCHAR(30),
  Category VARCHAR(20),
  SubCategory VARCHAR(20),
  ProductName VARCHAR(20),
  Sales DOUBLE,
  Quantity INT,
  Discount DOUBLE,
  Profit DOUBLE)
''')

conn.commit()

superstore_df2.to_sql('storefront2', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM storefront2
          ''')

results = c.fetchall()
c.close()

df2 = pd.DataFrame(results, columns= ['RowID', 'OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'CustomerName', 'Segment', 'Country', 'City', 'State', 'PostalCode', 'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName', 'Sales', 'Quantity', 'Discount', 'Profit'])
df2.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

**Simplest way of checking the mapping of data is obtaining table information**

For that; we can use the inbuild function with the following syntax 
> PRAGMA table_info(table_name);

In [ ]:
def create_df(table_name):
  """
    Convert all values of a table in to a dataframe

    Parameters
    ----------
    table_name : str
        Table name to be considered

    Variables
    ----------
    names: list of tuples
        All the column names of {table_name}
    result_list: list
        List of column names of {table_name}
    df: dataframe
        All the rows and columns of {table_name}

    Returns
    -------
    df: dataframe
        All the rows and columns of {table_n}
  """
  c = conn.cursor()
  # create dataframe from a table
  c.execute("SELECT name FROM pragma_table_info(?) ORDER BY cid", [table_name])
  names = c.fetchall()

  result_list = []
  for name in names:
    result_list.append(name[0])

  c.execute(f'SELECT * FROM {table_name}')
  results = c.fetchall()

  df = pd.DataFrame(results, columns= result_list)
  c.close()
  return df

In [10]:
def table_info_compare(table1, table2):
  c = conn.cursor()

  c.execute('SELECT * FROM pragma_table_info(?) ORDER BY cid', [table1])
  print('Source Table Information\n')
  for result in c.fetchall():
    print(result)

  c.execute('SELECT * FROM pragma_table_info(?) ORDER BY cid', [table2])
  print('\nTarget Table Information\n')
  for result in c.fetchall():
    print(result)

  c.close()

table_info_compare('storefront1', 'storefront2')

Source Table Information

(0, 'RowID', 'INTEGER', 0, None, 0)
(1, 'OrderID', 'TEXT', 0, None, 0)
(2, 'OrderDate', 'TEXT', 0, None, 0)
(3, 'ShipDate', 'TEXT', 0, None, 0)
(4, 'ShipMode', 'TEXT', 0, None, 0)
(5, 'CustomerID', 'TEXT', 0, None, 0)
(6, 'CustomerName', 'TEXT', 0, None, 0)
(7, 'Segment', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'City', 'TEXT', 0, None, 0)
(10, 'State', 'TEXT', 0, None, 0)
(11, 'PostalCode', 'INTEGER', 0, None, 0)
(12, 'Region', 'TEXT', 0, None, 0)
(13, 'ProductID', 'TEXT', 0, None, 0)
(14, 'Category', 'TEXT', 0, None, 0)
(15, 'SubCategory', 'TEXT', 0, None, 0)
(16, 'ProductName', 'TEXT', 0, None, 0)
(17, 'Sales', 'REAL', 0, None, 0)
(18, 'Quantity', 'INTEGER', 0, None, 0)
(19, 'Discount', 'REAL', 0, None, 0)
(20, 'Profit', 'REAL', 0, None, 0)

Target Table Information

(0, 'Row ID', 'INTEGER', 0, None, 0)
(1, 'Order ID', 'TEXT', 0, None, 0)
(2, 'Order Date', 'TEXT', 0, None, 0)
(3, 'Ship Date', 'TEXT', 0, None, 0)
(4, 'Ship Mode', 'TEXT', 0, None, 0)
(5, 'Customer ID', 'TEXT', 0, None, 0)
(6, 'Customer Name', 'TEXT', 0, None, 0)
(7, 'Segment', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'City', 'TEXT', 0, None, 0)
(10, 'State', 'TEXT', 0, None, 0)
(11, 'Postal Code', 'INTEGER', 0, None, 0)
(12, 'Region', 'TEXT', 0, None, 0)
(13, 'Product ID', 'TEXT', 0, None, 0)
(14, 'Category', 'TEXT', 0, None, 0)
(15, 'Sub-Category', 'TEXT', 0, None, 0)
(16, 'Product Name', 'TEXT', 0, None, 0)
(17, 'Sales', 'REAL', 0, None, 0)
(18, 'Quantity', 'INTEGER', 0, None, 0)
(19, 'Discount', 'REAL', 0, None, 0)
(20, 'Profit', 'REAL', 0, None, 0)