<a href="https://colab.research.google.com/github/SupunGurusinghe/sqlite-plus-colab/blob/main/sg_project1_metadata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Metadata**

## **Introduction to Metadata in SQL**
Metadata in simple words describe as data about data. Usually, the metadata returns the information about the database, db objects, db files, etc., in the SQL server. In relational databases metadata is said to be consisting the information regarding the schema, storage, etc., Metadata in databases for schema consists of information regarding tables, columns, constraints, foreign keys, indexes, and sequences. It also consists of information regarding the views, procedures, functions, and triggers.

### **To find ID of a schema object below syntax format is used:**
> SELECT OBJECT_ID(N'dbo.tablename’);

#### Example:
> SELECT OBJECT_ID(N'dbo.staging_employee');

---

### **To find the information about all the columns in db we use the below syntax:**
> SELECT nameas "TABLE COLUMN NAMES",column_id AS " COLUMN ID"
FROM sys.columns/* - - - Predefined columns- - - */
WHERE object_id = OBJECT_ID(N’dbo.tablename’);

#### Example:
> SELECT name as " TABLE COLUMN NAMES",column_id AS " COLUMN ID"
FROM sys.columns/* - - - Predefined columns - - - */
WHERE object_id = OBJECT_ID(N'dbo.staging_employee');

---

### **To find the information related to the table we use the below syntax:**
> SELECT name AS "COLUMN NAME",max_column_id_used "MAX COLUMN ID USED"
FROM sys.tables

---

### **To find the information related to the schema we use the below syntax:**
> SELECT name AS "SCHEMA NAME",schema_id AS "SCHEMA ID"
FROM sys.schemas   /* - - - Predefined Schema - - - */
WHERE principal_id = DATABASE_PRINCIPAL_ID(N'DATABASENAME');

#### Example:
> SELECT name AS "SCHEMA NAME",schema_id AS "SCHEMA ID"
FROM sys.schemas/* - - - Predefined Schema - - - */
WHERE principal_id=DATABASE_PRINCIPAL_ID(N'dbo');

## **How does Metadata Work in SQL?**

Metadata related result set operations are used in our daily application. For example, we have data types of a column the data type related information can be found in the metadata. We can also get the information related to the length of the column and how much space storage has been taken.